   body{
        overflow-x: hidden;
      }
      video {
  width: 100%;
  max-height: 600px;
  object-fit: contain;
}
       .content .info{
            flex-direction: row;
            display: flex;
            justify-content: space-between;
            padding: 0;
            gap: 0;
        }
       
       .content .info .accountsAndLinks{
            right: 0;
            min-width: 350px;
            top: var(--navHeight);
            left: auto;
            background: var(--secondWte);
            position: sticky;
        }
       .content .info .accountsAndLinks .friends{
        width: 100%;
        height: 50px;
        background: var(--wte);
        border-radius: 40px;
        display: flex;
        align-items: center;
        padding: 5px 5px 5px 20px;
        position: relative;
        justify-content: space-between;
    }
    .content .info .accountsAndLinks .friends .friendsImg{
        border-radius: 40px;
        height: 100%;
        display: flex;
       }
    .content .info .accountsAndLinks .friends .friendsImg img{
        border-radius: 50%;
        
    }
    .content .info .accountsAndLinks .friends .friendsImg img:not(:last-child){
    margin-right: -10px;
}
       .content .info .accountsAndLinks .profiles{
        display: flex;
        width: 100%;
        position: relative;
        flex-direction: column;
        gap: 5px;
       }
        .accountsAndLinks .profileRow{
            width: 100%;
            height: 50px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            position: relative;
            /* column-gap: 5px; */
            justify-content: center;
            align-content: space-between;
            /* background: red; */
        }
        .profileRow .personalData{
            display: flex;
            height: 100%;
            justify-content: center;
            column-gap: 10px;
            flex-direction: column;
            flex-wrap: wrap;
        }
        .accountsAndLinks .profileRow .fa-user-plus,
        .content .info .accountsAndLinks .profiles .profileRow .personalData .fa-heart
        
        {
            display: none;
        }
        .accountsAndLinks .profileRow button,
        .accountsAndLinks .profileRow img{
            height: 45px;
            border-radius: 50%;
            width: 45px;
        }
        .accountsAndLinks .profileRow button{
            width: max-content;
            padding: 3px 5px;
            border-radius: 0;
            border: none;
            background: transparent;
            color: var(--primeryBlue);
        }
        .content .info .posts{
            width: 100%;
            /* background: var(--blk) */
            display: flex;
            justify-content: center;
        }
       .content .info .reelContainer,
       .content .info .postContainer{
        /* background: red; */
        width: 450px;
        padding-top: 25px;
        position: relative;
       }
       .content .info .reelContainer{
        background-color: red;
        overflow: hidden;
       }
       


       .content .info .postContainer .singlePost{
        display: flex;
        flex-direction: column;
        gap: 10px;
       }
       .content .info .postContainer .uploadedBy       {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        height: 50px;
        align-items: center;
       }
       .content .info .postContainer .uploadedBy section{
        display: flex;
        position: relative;
        height: 45px;
        align-items: center;
        gap: 5px;
       }
      
       .content .info .postContainer .uploadedBy section img{
        height: 45px;
        border-radius: 50%;
       }

       .content .info .postContainer .uploadedBy section button{
            background: transparent;
            border: none;
            color: var(--primeryBlue);
       }
       .content .info .postContainer .uploadedBy section h6{
        font-size: 0.7em;
       }
       .content .info .postContainer .details{
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
       }
       .content .info .postContainer .details section{
        gap: 5px;
        display: flex;
       }
       .content .info .postContainer .details section p{
        text-align: justify;
       }
       .content .info .postContainer .postData{
        width: 100%;
        height: max-content;
        position: relative;
        align-self: center;
    }
       .content .info .postContainer .postData:has(video){
        width: max-content;
    }
       .content .info .postContainer .postData video{
        border-radius: 20px;
        max-width: 100%;
       }
    .content .info .postContainer .postData:has(:not( .WACard)){
           overflow: visible;

       }
       .content .info .postContainer .postData img{
        width: 100%;
        border-radius: 15px;
       }
       .content .info .postContainer  form{
        width: 100%;
        gap: 10px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        border-bottom: 1px solid var(--blk);
        position: relative;
        padding: 5px 10px;
       }
       .content .info .postContainer  form button,
       .content .info .postContainer  form input{
        border: none;
        padding: 5px 15px;
        width: max-content;
    }
    .content .info .postContainer  form button{
        background-color: var(--primeryBlue);
        color: var(--wte);
        border-radius: 10px; 
    }
    .content .info .postContainer  form input{
           background-color: transparent;
        width: 100%;
       }
         .WACard,.FBCard,.TTCard,.insta-card{
            width: 100%;
            height: max-content;
            position: relative;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            align-items: center;
            padding-bottom: 20px;
            outline: 2px solid var(--clr);
        }
         .FBCard .profilePic,
         .WACard .profilePic{

            /* position: absolute; */
            left: 50%;
            transform: translateY(-50%);
            outline: 5px solid var(--wte);
            background : var(--wte);
            border-radius: 50%;
            margin-bottom: -15px;
        }
         .WACard .profilePic{
            left: 50%;
            transform: translateY(-50%);
            outline: 5px solid var(--wte);
            background : var(--wte);
            border-radius: 50%;
            margin-bottom: -15px;
            width: 50px !important;
         }
         .WACard h3,
         .FBCard h3{
             font-weight: 500;
             font-size: 1.2em; 
         }
         .WACard .qrcode,
         .FBCard .qrcode{
            padding: 20px;
            /* box-shadow: 0 0 15px var(--waClr); */
            border: 2px solid var(--clr);
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;
            border-radius: 10px;
            position: relative;
        }
         .WACard .qrcode .number,
        .insta-card .qrcode .number,
         .FBCard .qrcode .number{
            position: absolute;
            bottom: 0;
            font-size: 0.7em;
            background: var(--clr);
            box-shadow: 0 7px 15px var(--clr);
            color: var(--wte);
            border-radius: 20px;
            transform: translateY(50%);
            padding: 5px 8px;
            font-weight: 600;
            text-decoration: none;
         }
         .WACard .qrcode .fab{
             position:absolute;
            z-index:1;
            font-size:1.6em;
            border-radius:50%;
            background:var(--wte);
            width:25px;
            height:25px;
            text-align:center;
            align-content:center;
         }
         .WACard .fa,
         .FBCard .fa,
         .TTCard .fa,
         .insta-card .fa{
            border-bottom-color: var(--clr);
            border-left-color: var(--clr);
            z-index: 11;
         }





         .insta-card {
  position: relative;
  border-radius: 20px;
  padding: 20px;
  /* background: var(--wte); */
  box-shadow:
    0 2px 5px rgba(250, 126, 30, 0.3),
    0 3px 10px rgba(214, 41, 118, 0.3),
    0 5px 15px rgba(150, 47, 191, 0.3);
}
        .insta-card h3{
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        color: transparent;
        background-clip: text;
        margin-bottom: 10px;
       }

.insta-card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  border-radius: 20px;
  /* background: linear-gradient(45deg,
    #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5); */

  /* -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; */
}

.insta-card {
    text-align: center;
    border: none;
}

/* QR container */
.insta-card .qrcode {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    background: var(--bg),radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-size: cover;
    background-blend-mode: screen;
    border: 3px solid;
    border-image: radial-gradient(circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285AEB 90%
    ) 1;

}

@media (max-width: 1130px){
    :root{
        --asideWidth: 200px;
    }
    aside{
        width: var(--asideWidth);
    }
       .content .info .accountsAndLinks {
        min-width: 300px;
       }
       .content .info .accountsAndLinks h5{
        font-size: 0.7em;
       }
       .content .info .accountsAndLinks h6{
        font-size: 0.6em;
       }
       .content .info .postContainer{
        width: 400px;
       }
}
@media (max-width: 920px){
       .content .info  {
        width: 100%;
       }
    .leftAside{
        display: none;
    }
}
@media (max-width: 715px){
       .content .info  .postContainer{
        width: 300px;
       }
        .content .info .postContainer .postData{
        width: calc(100% - 30px);
        max-width: calc(100% - 20px);
        display: flex;
        justify-content: center
        ;
    }

}
@media (max-width: 715px){
    .content .info  .postContainer{
        width: 400px;
       }
       .content .info  {
        flex-direction: column-reverse;
       }
        .content .info .accountsAndLinks .friends,
       .content .info .accountsAndLinks .profiles .profileRow h6,
       .content .info .accountsAndLinks .profiles h4{
        
        
        display: none;
        }
        .content .info .accountsAndLinks{
            height: max-content;
            width: 100%;
            overflow-x: auto;
            position: relative;
            border-top: 2px solid var(--blk);
            top: 0;
        }
       .content .info .accountsAndLinks .profiles{
            flex-direction: row;
            justify-content: flex-start;
            gap: 10px;
        }
        .content .info .accountsAndLinks .profiles .profileRow .personalData,
       .content .info .accountsAndLinks .profiles .profileRow{
            flex-wrap: nowrap
       }
       .content .info .accountsAndLinks .profiles .profileRow{
        position: relative;
        /* background: red; */
        height: 100px;
        gap: 10px;
        justify-content: space-between;
       }
        .content .info .accountsAndLinks .profiles .profileRow .personalData{
 align-content: center;
        text-align: center;
        align-items: center;
        }
        .content .info .accountsAndLinks .profiles .profileRow .personalData .img {
            /* background: yellow; */
            position: relative;
            display: flex;
            justify-content: center;
        
        }
        .content .info .accountsAndLinks .profiles .profileRow .personalData .img img{
            width: 75px;
            height: 75px;
        }
        .content .info .accountsAndLinks .profiles .profileRow .personalData .fa-user-plus,
        .content .info .accountsAndLinks .profiles .profileRow .personalData .fa-heart

        {
            position: absolute;
            display: block;
            bottom: 5px;
            width: 40px;
            height: 20px;
            font-size: 0.9em;
            color: var(--wte);
            background: var(--blk);
            align-content: center;
            text-align: center;
            border-radius: 5px;
        }
       
       .content .info .accountsAndLinks .profiles .profileRow button {
        display: none;
       }
       .content .info .accountsAndLinks .profiles .profileRow h5{
        font-size: 0.6em;
        max-width: 13ch;   /* limits to ~16 characters */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
       }
       

}

